:root {
    --md-carousel-icon--prev: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M15.28 5.22a.75.75 0 0 1 0 1.06L9.56 12l5.72 5.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.75.75 0 0 1 1.06 0Z"></path></svg>');
    --md-carousel-icon--next: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M8.72 18.78a.75.75 0 0 1 0-1.06L14.44 12 8.72 6.28a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018l6.25 6.25a.75.75 0 0 1 0 1.06l-6.25 6.25a.75.75 0 0 1-1.06 0Z"></path></svg>');
}

.image-box.carousel {
    display: flex;
    align-items: stretch;
}

.image-box.carousel.center {
    justify-content: center;
}

.carousel-button {
    cursor: pointer;
    width: 40px;
    max-height: 50%;
    background: rgba(0, 0, 0, 0.05);
    transition: all 250ms ease;
}

.carousel-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.carousel-button-prev {
    border-radius: 8px 0 0 8px;
}

.carousel-button-next {
    border-radius: 0 8px 8px 0;
}

.carousel-button::after {
    content: "";
    display: block;
    position: relative;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    mask-size: 100% 100%;
    background: var(--md-typeset-color);
}

.carousel-button-prev::after {
    mask-image: var(--md-carousel-icon--prev);
}

.carousel-button-next::after {
    mask-image: var(--md-carousel-icon--next);
}

.image-box.carousel p {
    margin: 0;
}

.image-box.carousel img {
    display: none;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.image-box.carousel img.carousel-image {
    display: block;
}

body[data-md-color-media="(prefers-color-scheme: dark)"] .carousel-button {
    background: rgba(255, 255, 255, 0.04);
}


body[data-md-color-media="(prefers-color-scheme: dark)"] .carousel-button:hover {
    background: rgba(255, 255, 255, 0.08);
}